.wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
 position: relative;
 margin-bottom: -10px;
}
.wrapper .column{
 position: relative;
  background-color: #434bdf;
flex: 1;

}
.logo{
  position: absolute;
  left: 10px;
  top: 20px;

  z-index: 1;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.wrapper .column.alt{

  background-color: white;
 
}
#icons{
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
 /* background: #7B8564; */
}

.link:hover{
  opacity: 0.6;
}
#menubtn{
  position: absolute;
  top: 15px;
  right: 20px;
  background: rgb(169, 212, 69);
}
#myBtn {
  display: block;
  /* position: fixed; */
  position: absolute;
 top:15px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  background-color: rgb(233, 216, 216);
  color: #222;
  cursor: pointer;
  
  border-radius: 40px;
}
#mobileapplink{
  position: relative;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#androidbtn{
  width: 50%;
  margin: 10px;
  height: 50px;

}
#androidbtn{
  object-fit: cover;
}
/* android ios links btn */
#mySidenav a {
  position: absolute;
  left: -130px;
  transition: 0.3s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 0px 2px 2px rgba(248, 246, 103, 0.75);
}

#mySidenav a:hover {
  left: 0;
}

#ioslink {
  display: flex;
  top: 140px;
  background-color: #070553;
}
#iosleft{
  text-align: left;
  width: 70%;
}
#iosleft span{
  font-size: 15px;
}
#iosright{
  text-align: right;
  width: 30%;
}

#androidlink {
  display: flex;
  top: 140px;
  background-color: #070553;
  top: 210px;
  background-color: #555
}
#andrleft{
  text-align: left;
  width: 70%;
}
#andrleft span{
  font-size: 15px;
}
#andright{
  text-align: right;
  width: 30%;
}

#myclsbtn{
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 216, 216);
  color: #222;
  cursor: pointer;
  border-radius: 40px;
}
.form{
  
  padding-top: 200px;
  margin-left: 20%;
  margin-right: 20%;
}

.clickbutton{
   width: 100%;
  background: #434bdf;
  height: 40px;
  color: white;
  text-align: center;
  margin-bottom: 1%;
  cursor: pointer;
  border: none;
  outline: none !important;
}
#clickbuttonhead{
  cursor: default;
  width: 100%;
  border-radius: 3px;
  background: #434bdf;
  height: 40px;
  color: white;
  text-align: center;
  padding-top: 8px;
  margin-bottom: 1%;
  border: none;
  outline: none !important;
 
}
.clickbutton:hover{
  background: #0f135d;
}
.frgtbtn{
  width: 100%;
  background: #434bdf;
  height: 40px;
  color: white;
  text-align: center;
  margin-bottom: 1%;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  outline: none !important;
}
.frgtbtn:hover{
  background: #0f135d;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}


#error{
  position: absolute;
  top: -20px;
  left:90%;
  display: none;
}
#error1{
  position: absolute;
  top: -20px;
  left:90%;
  display: none;
}
#mailerror{
  position: absolute;
  top: -20px;
  left:80%;
  display: none;
}
#mailquote {
  background-color: red;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 100px;
  height: 25px;;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
#errormsg{
  text-align: center;
  color: red;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;;
  display: block;
  
  transition: 1s;
}
.overlay a:hover, .overlay a:focus {
  color: blue;
  text-decoration: none;
}
.subcolumn{
  position: relative;
  padding-top: 50px;
  /* margin-left: 15%;
  margin-right: 15%; */
 font-family:Helvetica;
  height: auto;
}
.image{
  /* position: absolute; */
 /* padding-left: 20%;
  padding-right: 20%; */
  text-align: center;
 
}

.heading{
  /* width: 100%; */
  /* padding-left: 20%;
  padding-right: 20%; */
 
  color: white;
  /* text-align: center; */
  margin-top: 5%;
}
.title{
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 5px;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
 }
.paragraph{
  width: 100%;
 
  color: white;
  text-align: center;
  padding-top: 2%;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}
.regbtn{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #434BDF;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none !important;
 
}
.regbtn:hover{
  background-color: #D80075;
  color:white;
}
.copyright{
  color: white;
  text-align: center;
  padding-bottom: 2%;
}
/* .inputtype{
  border: 0; padding: 7px 0; border-bottom: 2px solid rgb(125, 185, 12);
  width: 100%;
  outline: none;
 margin-top: 6%;
 border-radius: 10PX;
 padding-left: 5%;
 background-color: beige;
}
.inputtype:focus{width: 100%;background-color: aqua; border-bottom: 2px solid rgb(29, 6, 6); transition: 1s;}
 */
 .inputtype{
   width: 100%;
  margin-bottom: 5%;
  height: 40px;
  border: 1px solid #d2d8dd;
  padding-left: 2%;
 }
 #dotspin{
   height: 110%;
   width:100%;
   position: absolute;
   top: 0;
   left: 0;
   display: none;
   z-index: 2;
   background-color: brown;
 }




@media screen and (max-width:992px){
 
 
#icons{
  right: 100px;
}
.wrapper .column.alt{
  height: 500px;
}
#menubtn{
  margin-top: 5px;
}
.wrapper{
  display:inline-table; 
}
.form{
  padding-top: 150px;
}
 
}

