/*tooltip css */

.paginationCountryMemberTable{
  margin-left: 40%;
  font-size: 20px;
 
}
/* #pagebar{
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
} */
.tooltipFirstParty {
  position: relative;
  cursor : pointer;
}


.tooltipFirstParty .tooltiptextFirstParty {
  visibility: hidden;
  background-color: #6c7ae0;
  color: #fff;
  text-align: left !important;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
  margin-left: 0px;
}

.tooltipFirstParty:hover .tooltiptextFirstParty {
  visibility: visible;
}
#pagebar{
  margin: auto;
}

#stdcards{
  height: auto;
  display: flex;
  position: relative;
  top: -80px;
  margin: 30px;

}
.stdies{
height: 120px;
  width: 50%;
  display: flex;
  background-color: #FFFFFF;
  margin: 10px;
  color: black;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.stdies:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#studypage{
  height: auto;
  position: relative;
  top: -80px;
 /* padding: 20px; */
    margin: 3%;
  border-radius: 10px;
  background-color:#FFFFFF;
  overflow-x: auto;
 box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(142, 176, 250, 0.15);
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #898989;
  background-color: #fff;
  border: 1px solid #898989;
  margin-left: -1px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination>li>a:hover{
  background-color: #337ab7;
  color: #FFFFFF;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background: linear-gradient(to bottom right,#00f2fe 0%, #1e63c3 100%);
  border-color: #337ab7;
  cursor: default;
}




#studypage h3{
  padding: 18px;
  font-size: 1.125rem;
  color: #898989;
  background-color: #FFFFFF;
}
#mystudyscroll{
  margin-top: 10px;
  width: 100%; 
  border-collapse: collapse; 
}
#mystudyscroll tr:nth-of-type(odd) { 
  background: #eee; 
}
#mystudyscroll tr{
  text-align: center;
}

#mystudyscroll td, #mystudyscroll th {
  border-bottom: 1px solid rgb(207, 203, 203);
  border-top: 1px solid rgb(207, 203, 203);
   padding: 8px;
   text-align: center;
 }
#mystudyscroll td{
  color: #898989;
}
#mystudyscroll th { 
  background: #FFFFFF; 
  color: black; 
  font-weight: 600;; 
}
#mystudyscroll td, th { 
  padding: 6px; 
  /* border: 1px solid #ccc;  */
  
}




#stdicon1{
  height: 120px;
  width:40%;
  padding:20px;
  color: #898989;
}
#totalstdicon{
  position: relative;
  background: linear-gradient(to bottom right,#00f2fe 0%, #1e63c3 100%);
  height: 80px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(40, 146, 235, 0.50);
  text-align: center;
  padding-top: 20px;
}
#newstdicon{
  background: linear-gradient(to bottom right, #62fb62, #21a544);
  height: 80px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(40, 146, 235, 0.50);
  text-align: center;
  padding-top: 20px;
}
#stdintext1{
  height: 120px;
  width: 60%;
  padding:20px;
  color: #898989;
}
#stdintext1 p{
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
}
#stdicon2{
  height: 120px;
  width:45%;
  padding:20px;
  color: #898989;
}
#stdintext2{
  height: 120px;
  width: 60%;
  padding:20px;
  color: #898989;
}
#stdintext2 p{
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
}
#stdtable{
  height: auto;
  width: 100%;
  background-color: #FFFFFF;
  overflow-x: auto;
  border-radius: 10px;
}
#stdtable tr:nth-child(odd){background-color: #F6F6F6;}
#stdtable h3{
  padding: 18px;
  font-size: 1.125rem;
  background-color: #FFFFFF;
  color: #898989;
}
#stdtable td{
  color: #898989;
}
#stdtable:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


@media screen and (max-width:480px) {

  /* #stdicon1{
    display: none;
    width: 0;
  }
  #stdintext1{
    width: 100%;
  }
  #stdicon2{
    display: none;
    width: 0;
  }
  #stdintext2{
    width: 100%;
  } */
}

@media screen and (min-width:720px) and (max-width:980px){
#stdicon1{
  width: 30%;
}
#stdintext1{
  width: 70%;
}
#stdicon2{
  width: 30%;
}
#stdintext2{
  width: 70%;
}
}

@media screen and (max-width:1060px){
 #stdcards{
  flex-wrap: wrap;
 }
  #copmletestd{
    width: 100%;
  }
 #newstd{
  width: 100%;
  }
}
