#profileform{
  height: auto;
  position: relative;
  top: -80px;
  margin: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  padding-bottom: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
#profileform:hover{
  box-shadow: 0 16px 26px 0 rgba(198,198,200,0.8), 0 3px 6px 0 rgba(198,198,198,0.2);
}
#namediv{
  background-color: #ffffff;
  height: auto;
  /* border-radius: 10px; */
  padding-top: 30px;
  display: flex;
  padding-bottom: 10px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
  
}
#firstname{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
 







#lastname{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}
#emailnumber{
  background-color: #ffffff;
  height: auto;
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
}
#email{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#number{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}
#procntrycode{
  position: relative;
  height: 40px;
  width: 75px;
  background-color: #434BDF;
  top: -40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: white;
  padding-top: 8px;
  padding-left: 15px;
}
#agegendermarriage{
  background-color: #ffffff;
  height: auto;
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
}
#age{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#gender{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#marriage{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#addone{
  background-color: #ffffff;
  height: auto;
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
  
}
#addressone{
  width: 100%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  
}
#addressone textarea{
  min-height: 80px;
  max-height: 80px;
}
#addtwo{
  background-color: #ffffff;
  height: auto;
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
}
#addresstwo{
  width: 100%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#addresstwo textarea{
  min-height: 80px;
  max-height: 80px;
}
#countrystatepin{
  background-color: #ffffff;
  height: auto;
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
}
#country{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#state{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#pincode{
  width: 50%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#secure{
  background-color: #ffffff;
  height: auto;
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
}
#pass{
  width: 30%;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#profilebtn{
  background-color: #ffffff;
  height: auto;
  padding-top: 10px;
  display: flex;
  padding-bottom: 10px;
  color: #898989;
  margin-left: 30px;
  margin-right: 10px;
}
#editprofilebtn{
  color: #fff;
  font-weight: 400;
  letter-spacing: .03em;
  font-size: 0.8125rem;
  min-width: 2.375rem;
  border-radius: 3px;
  border: none;
  outline: none;
  height: 30px;
  background: linear-gradient(to bottom right,#9853af,#623AA2);
 cursor: pointer;
}
#updateprofilebtn{
  border-radius: 3px;
  border: none;
  outline: none;
  height: 35px;
    font-weight: 400;
    letter-spacing: .03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
  color: #fff;
 cursor: pointer;
  background: linear-gradient(to bottom right,#9853af,#623AA2);
}
#numberinput{
  border-radius: 3px;
  border: 1px solid #d2d8dd;
  padding: 0.375rem 5.00rem;
  height: 40px;
}
.input{
  border-radius: 3px;
 border: 1px solid #d2d8dd;
 padding: 0.375rem 0.75rem;
 height: 40px;
}
.input:focus{
 border: 1px solid blue;

}

/* error validation */
#profirstnameerror{
  position: relative;
  left: 90%;
  top: -70px;
  display: none;
}
.proquote {
  background-color: red;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 70px;
  height: 25px;;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
problockquote {
  padding: 0;
  margin: 0;
}
problockquote::after {
  border-color: transparent red transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 8px;
  top: -5px;
  content: "";
  display: block;
  right: 75%;
  position: relative;
}
#prolastnameerror{
  position: relative;
  left: 90%;
  top: -70px;
  display: none;
}
#profirstnamealphaerror{
  position: relative;
  top: -70px;
  left:80%;
  display: none;
}
#profirstnameaplhaquote{
  background-color: red;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 110px;
  height: 25px;;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
#prolastnamealphaerror{
  position: relative;
  top: -70px;
  left:80%;
  display: none;
}
#prolastnameaplhaquote{
  background-color: red;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 110px;
  height: 25px;;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
#proregmailerror{
  position: relative;
  top: -70px;
  left:90%;
  display: none;
}
#proregmailvaliderror{
  position: relative;
  top: -70px;
  left:80%;
  display: none;
}
#proregmailvalidquote{
  background-color: red;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 110px;
  height: 25px;;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
#procontacterror{
  position: relative;
  top: -110px;
  left:90%;
  display: none;
}
#procontactnumbererror{
  position: relative;
  top: -110px;
  left:80%;
  display: none;
}
#procontactquote{
  background-color: red;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 110px;
  height: 25px;;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
#prodoberror{
  position: relative;
  top: -70px;
  left:90%;
  display: none;
}
#progendererror{
  position: relative;
  top: -70px;
  left:90%;
  display: none;
}
#promarriageerror{
  position: relative;
  top: -70px;
  left:90%;
  display: none;
}
#prolineoneerror{
  position: relative;
  top: -110px;
  left:90%;
  display: none;
}
#prolinetwoerror{
  position: relative;
  top: -110px;
  left:90%;
  display: none;
}
#procountryerror{
  position: relative;
  top: -70px;
  left:90%;
  display: none;
}
#prostateerror{
  position: relative;
  top: -70px;
  left:90%;
  display: none;
}
#propinerror{
  position: relative;
  top: -70px;
  left:90%;
  display: none;
}

#propinnumbererror{
  position: relative;
  top: -70px;
  left:80%;
  display: none;
}
#propinquote{
  background-color: red;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 110px;
  height: 25px;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
#propassworderror{
  position: relative;
  top: -70px;
  left:80%;
  display: none;
}
#customdialog{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
#customdialogcontent{
  
  transform: translate3d(0px, 0px, 0px);
  z-index: 10002;
  height: 300px;
  width: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  transition: transform 500ms cubic-bezier(0, 0, 0.25, 1) 0s, opacity 500ms cubic-bezier(0, 0, 0.25, 1) 0s;
}
/* #customdialogcontent{
  
-webkit-animation: shake 1s ease-in-out 1s infinite alternate;
}
@-webkit-keyframes shake {
  from {
     -webkit-transform: rotate(5deg);
  }
  to {
    -webkit-transform-origin:center center;
    -webkit-transform: rotate(-5deg);
  }
 
 } */

@media screen and (max-width:700px){
  
    #namediv{
      flex-wrap: wrap;
    }
    #firstname{
      width: 100%;
    }
    #lastname{
      width: 100%;
      margin-right: 10px;
    }
    #emailnumber{
      flex-wrap: wrap;
    }
    #email{
      width: 100%;
    }
    #number{
      position: relative;
      width: 100%;
      margin-right: 10px;
    }
    #agegendermarriage{
      flex-wrap: wrap;
    }
    #age{
      width: 100%;
    }
    #gender{
      width: 100%;
    }
    #marriage{
      width: 100%;
    }
    #countrystatepin{
      flex-wrap: wrap;
    }
    #country{
      width: 100%;
    }
    #state{
      width: 100%;
    }
    #pincode{
      width: 100%;
    }
    #pass{
      width: 100%;
    }
 }


