#thnkspanelogo{
  position: absolute;
  top: 0;
  left: 10px;
  
}
#thnkspanelicon{
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
}
.tnkuMain{
  width: 100%;
  min-height: 100vh;
  display: flex;
 position: relative;
 margin-bottom: -10px;
 background-color: blueviolet;
}
#thnximgcss{
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
#emailheading{
  font-size: 2rem;
  color: white;
  margin-left: 80px;
}
#firstpara{
  font-size: 0.9375rem;
  color: white;
  opacity: 0.8;
  width: 500px;
  text-align: justify;
  /* margin-left: 50px; */
}
#scndpara{
  font-size: 0.9375rem;
  color: white;
  opacity: 0.8;
  width: 500px;
  text-align: justify;

  /* margin-left: 110px; */
}
#bcktohome{
  
  border: none;
  color: #fff;
  background: #007bff;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 12px 25px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  margin-left: 30%;
  border-radius: 20px;
}
#bcktohome:hover{
  background-color: #D80075;
}
#copy{
  position: absolute;
  left: 48%;
  /* top: 150%; */
  bottom: 3%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
  opacity: 0.8;
}