#collectreward{
    height: auto;
    position: relative;
    top: -80px;
   padding: 20px;
   margin: 20%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    padding-bottom: 40px;
   
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
#collectreward h3{
    color: #898989;
    
}
#totalpoints{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    display: flex;
    color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#totalpointstxt{
    width: 50%;
    margin-left: 20px;
    margin-right: 10px;
}
#totalpointsno{
    width: 50%;
    margin-left: 20px;
   
    margin-right: 10px;
}
#totalpayamt{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    display: flex;
    color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#totalpaystxt{
    width: 50%;
    margin-left: 20px;
    margin-right: 10px;
}
#totalpayno{
    width: 50%;
    margin-left: 20px;
    margin-right: 10px;
}
#paytype{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    display: flex;
    color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#paptypetxt{
    width: 30%;
    margin-left: 20px;
    margin-right: 10px;
}
#paytyperadio{
    width: 70%;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
}
#papal{
    width: 50%;
    margin-left: 20px;
    margin-right: 10px;
}

#amazon{
    width: 50%;
    margin-left: 20px;
    margin-right: 10px;
}
#paypalemail{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#paypalemailtxt{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}
#paypalemailfield{
    width: 70%;
    margin-left: 20px;
    margin-right: 10px;
}
#emailinput{
    width: 80%;
    border-radius: 3px;
    border: 1px solid #d2d8dd;
    padding: 0.375rem 0.75rem;
   
   }
#paypaltexandfield{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    display: flex;
     color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#paypalsend{
    text-align: center;
}
#paypalreqbtn{
    margin-top: 10px;
    color: #fff;
    font-weight: 400;
    letter-spacing: .03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
    border-radius: 3px;
    border: none;
    outline: none;
    height: 30px;
    background: linear-gradient(to bottom right,#9853af,#623AA2);
   cursor: pointer;
}
#rewardmailerror{
position: relative;
  left: 60%;
  top: -65px;
  display: none;
}
.rewquote{
    background-color: red;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    border-radius: 3px;
    color: #fff;
    margin: 0;
    width: 70px;
    height: 25px;;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 13px;
}
#rewardvalidmailerror{
    position: relative;
  left: 60%;
  top: -65px;
  display: none;
}
.rewvalidquote{
    background-color: red;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 110px;
  height: 25px;;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
rewblockquote {
    padding: 0;
    margin: 0;
  }
  rewblockquote::after {
    border-color: transparent red transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    top: -5px;
    content: "";
    display: block;
    right: 75%;
    position: relative;
  }
  #amazonform{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#giftamounts{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    display: flex;
     color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#giftamt{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
#giftamttxt{
    width: 50%;
    margin-left: 20px;
    margin-right: 10px;
}
#giftcoupons{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    display: flex;
     color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#giftcoupon{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
#giftamttxt{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
#delivery{
    background-color: #ffffff;
    height: auto;
    padding-top: 30px;
    display: flex;
     color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
#deli{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}
#deliradio{
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
}
#onlinebtn{
    text-align: center;
}
#onlinereqbtn{
    margin-top: 20px;
    margin-left: 30px;
    color: #fff;
    font-weight: 400;
    letter-spacing: .03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
    border-radius: 3px;
    border: none;
    outline: none;
    height: 30px;
    background: linear-gradient(to bottom right,#9853af,#623AA2);
   cursor: pointer;
}


#thnkureward{
    width: 100%;
    min-height: 100vh;
    display: flex;
   position: relative;
   background-image: linear-gradient(to left, rgb(152, 83, 175), rgb(98, 58, 162));
}
#rewardthnxheader{
     
      -ms-flex-align: center;
      align-items: center;
      margin: 1rem 0rem;
      -ms-flex-wrap: wrap;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 20px;
      position: relative;
      min-height: 150px;
      background-image: -webkit-gradient(linear,right top, left top,from(#9853af),to(#623AA2));
      background-image: -webkit-linear-gradient(right,#9853af,#623AA2);
      background-image: -o-linear-gradient(right,#9853af,#623AA2);
      background-image: linear-gradient(to left,#9853af,#623AA2);
      padding-top: 50px;
      border-top: 1.5px solid #9853af;
      color: white;
     
}
#thnxrewardpage{
    height: auto;
    position: relative;
    top: -80px;
   /* padding: 20px; */
    margin: 5%;
    margin-top: 30px;
    border-radius: 10px;
    background-color:#FFFFFF;
    padding: 5%;
   box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(142, 176, 250, 0.15);

}
#thnxreward{
    height: auto;
    position: relative;
     
    /* margin-top: 20%; */
    border-radius: 10px;
    /* background-color: rgb(68, 27, 134); */
    /* height: 800px; */
}
#imgandtext{
    position: relative;
    text-align: center;
    /* margin-top: 150px; */
}
#thnxext1 span{
    font-size: 20px;
    color: #898989;

}
#thnxext2 span{
    font-size: 20px;
    color: #898989;
}
#thnxrewardbtn{
    margin-top: 40px;
    border-radius: 10px;
    background-image: linear-gradient(to left,#9853af,#623AA2);
   padding: 10px;
   border: none;
   font-weight: 500;
   color: #FFFFFF;
   cursor: pointer;
   box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    outline: none;
}
#thnxrewardbtn:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}






/* .paypal{
    background-color: #e4e5e6;
    min-height: 100vh;
    position: relative;

}

.cardback{
    background-color: #e4e5e6;
    position: absolute;
    margin-top: 5%;
    width: 100%;
    
}
.setradiomargin{
    margin-left: 15% !important;
}
.leftmarginset{
    margin-left: 10% !important;
}
.leftfieldmarginset{
    margin-left: 22% !important;
}
.errormarginset{
    margin-left: 37% !important;
}

.mycard{
    margin-top: 1% !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
    text-align: center;
    font-weight: bold !important;

}
.inputemail{
width: 80% !important;
flex:initial !important;
margin-left: 10% !important;
}

.rewardTr{
    margin-left: 37%;
}

.paypalEmail{
    border: 1px solid #ccc;
    width: 25%;
    padding: 10px;
    margin: 5px 20px 22px 0px;
    margin-left: 0%;
    display: inline-block;
    background: white;
    border-radius: 5px;
    font-size: 13px;   
}

.amazeLabel{
    text-align: left !important;
    margin-left: 10% !important;
}

.amazoneDeliveryOffline label{
    text-align: left !important;
 
} 

.collectRewardBack{
    background-color: white;
    width: 80%;
    margin-top: 0px;
    padding: 0px 0px 50px 0px;
    border-radius: 0px 0px 12px 12px;
    margin-left: 10%;
}
.amazeOffline{
    text-align: left !important;
 
}


.amazeOffline input{
    background-color: white;
    width: 70%;
   
}

.paypalMethod{
    text-align: left !important;
 
}
 */
