
.mm {
 
  text-decoration: none !important;
  color: #898989;
  background-color: #010a5e;
}
.mm:hover{
  color: #898989;

}

.logoimage {
  float: left;
  height: 38PX;
  margin-left: 20px;
  margin-bottom: 0px;
}
#usershowonmenu{
  color: #FFFFFF;
  padding-right: 10px;
  padding-top: 8px;
}
#headerprofile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
}
#headerprofilename{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #623AA2;
  color: #FFFFFF;
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0px;
  margin-right: 20px;
}
#userview{
  border: 1px solid #898989;
}
/* .menuBar{
  overflow: hidden;
  background-color: #eaecff;
  margin-top: 0%;
}
.imgprofile{
width:40px;
border-radius: 50%;

}


.menuBar a {
  float: right;
  display: block;
  color: #010a5e;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 5px;
}

.menuBar a:hover {
  color: green;
}

.menuBar.responsive a {
    float: none;
    display: block;

  }
  .user{
    border: 2px solid red;
    border-radius: 50%;
    border-color: green;
    margin-top: -8px;
    padding:10px;
  }



.menuImage{
  width: 100px;;
  height: 50px;
}
.vhtxt{
  margin-left: 5%;
  margin-top: -0.1%;
  color: #680303;
} */

@media screen and (min-width: 360px) and (max-width: 480px) {
  .menuBar a {
  overflow: hidden;
  float: none;
  display: block;
  color: #010a5e;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  }
  .menuBar a:hover {
  color: green;
  
  }
  .menuBar{
    overflow: hidden;
    background-color:#eaecff;
    margin-top: 0%;
    padding: 5px;
   
    padding-left: 20px !important;
  }

  .user{
    border: none;
    border-radius: 80%;
    margin-top: -0px;
  }
  .logoimage {
    float: none;
    /* width: 32%; */
    margin-left: 34%;
    margin-top: 0%;
}
}

@media screen and (min-width: 481px) and (max-width: 720px) {
 
  .menuBar a {
    overflow: hidden;
  float: none;
  display: block;
  color: #010a5e;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  }
  .menuBar a:hover {
  color: green;
  
  }
  .menuBar{
    overflow: hidden;
    background-color:#eaecff;
    margin-top: 0%;
    padding: 5px;
   
    padding-left: 20px !important;
  }
  .logoimage {
    float: none;
    /* width: 32%; */
   
    margin-top: 0%;
}
  .user{
    border: none;
    border-radius: 80%;
    margin-top: -0px;
  }
}
