#tokenerror{
  position: relative;
  top: -65px;
  left:80%;
  display: none;
}
#tokentquote{
  background-color: red;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  width: 70px;
  height: 25px;;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13px;
}
.tPassMsgErr{
  margin-left: 12%;
  color: red;
}
#clickbuttontoken{
  width: 100%;
  background: #434bdf;
  height: 40px;
  color: white;
  text-align: center;
  margin-bottom: 5%;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none!important;
}
#tokenverified{
  width: 100%;
  background: #434bdf;
  height: 40px;
  color: white;
  text-align: center;
  margin-bottom: 5%;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none!important;
}
#inputoken{
  width: 100%;
  margin-top: 5%;
  height: 40px;
  border: 1px solid #d2d8dd;
  padding-left: 2%;
}
#regmodalclose{
  border-radius: 3px;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #434bdf;
  cursor: pointer;

  padding: 5px 10px 5px 10px;
}