#couponheader{
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0rem;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    min-height: 150px;
    background-image: -webkit-gradient(linear,right top, left top,from(#9853af),to(#623AA2));
    background-image: -webkit-linear-gradient(right,#9853af,#623AA2);
    background-image: -o-linear-gradient(right,#9853af,#623AA2);
    background-image: linear-gradient(to left,#9853af,#623AA2);
    padding-top: 50px;
    border-top: 1.5px solid #9853af;
    color: white;
}
#couponpage{
    height: auto;
    position: relative;
    top: -80px;
   /* padding: 20px; */
      margin: 3%;
    border-radius: 10px;
    background-color:#FFFFFF;
    overflow-x: auto;
   box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(142, 176, 250, 0.15);
}
#couponsbtn{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#gototran{
    border: none;
    outline: none;
    border-radius: 3px;
    color: #FFFFFF;
    background: linear-gradient(to left,#3093c7,#1c5a85);
    height: 30px;
    cursor: pointer;
}
#gotodash{
    border: none;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(to left,#3093c7,#1c5a85);
    color: #FFFFFF;
    height: 30px;
    cursor: pointer;
}

#cupntbl{ 
   margin-top: 10px;
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  #cupntbl tr:nth-of-type(odd) { 
    background: #eee; 
  }
  #cupntbl td, #cupntbl th {
    border-bottom: 1px solid rgb(207, 203, 203);
    border-top: 1px solid rgb(207, 203, 203);
     padding: 8px;
     
   }
  #cupntbl td{
    color: #898989;
  }
  #cupntbl th { 
    background: #FFFFFF; 
    color: black; 
    font-weight: 600;; 
  }
  #cupntbl td, th { 
    padding: 6px; 
    /* border: 1px solid #ccc;  */
    text-align: left; 
  }