#transhistory{
  height: auto;
  position: relative;
  top: -80px;
 /* padding: 20px; */
    margin: 3%;
  border-radius: 10px;
  background-color:#FFFFFF;
  overflow-x: auto;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#transhistory:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#transhistory h3{
  padding: 18px;
  font-size: 1.125rem;
  color: #898989;
  background-color: #FFFFFF;
}
#transtable{
  margin-top: 10px;
  width: 100%; 
  border-collapse: collapse; 
}
#transtable tr:nth-of-type(odd) { 
  background: #eee; 
}
#transtable td, #transtable th {
  border-bottom: 1px solid rgb(207, 203, 203);
  border-top: 1px solid rgb(207, 203, 203);
   padding: 8px;
   text-align: center;
 }
#transtable td{
  color: #898989;
}
#transtable th { 
  background: #FFFFFF; 
  color: black; 
  font-weight: 600;; 
}
#transtable td, th { 
  padding: 6px; 
  /* border: 1px solid #ccc;  */

}
#emptytableimg{
 padding-left: 400px;
 padding-right: 400px;
}
#emptytransimg img{

  overflow: hidden;
}



#transcards{
  height: auto;
  display: flex;
  position: relative;
  top: -80px;
  margin: 30px;
}
.trans{
  display: flex;
  height: 100px;
  width: 40%;
  background-color: #FFFFFF;
  margin: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(7, 6, 6, 0.23);
}
.trans:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#transicon1{
  height: 100px;
   width:30%;
   text-align: center;
   padding-top: 30px;
  color: #898989;
  background: linear-gradient(to bottom right, #62fb62, #21a544);
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
 /* box-shadow: 0 7px 30px rgba(26, 122, 16, 0.50) !important; */
}
#transtext1{
  height: 100px;
  width: 70%;
  padding-top: 10px;
  padding-left: 20px;
  color: #898989;
 border-radius: 10px;
text-align: left;
 background-color: #FFFFFF;

}
#transtext1 p{
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
}
#transicon2{
  height: 100px;
  width:30%;
 /* padding:20px; */
 text-align: center;
padding-top: 30px;
 color: #898989;
 background: linear-gradient(to bottom right ,#9853af,#623AA2);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
#transtext2{
  height: 100px;
  width: 70%;
  padding-top: 10px;
  padding-left: 20px;
  color: #898989;
 border-radius: 10px;
text-align: left;
 background-color: #FFFFFF;
}
#transtext2 p{
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
}
#transicon3{
  height: 100px;
  width:30%;
  text-align: center;
  padding-top: 30px;
  color: #898989;
  background: linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#transtext3{
  height: 100px;
  width: 70%;
  padding-top: 10px;
  padding-left: 20px;
  color: #898989;
  border-radius: 10px;
  text-align: left;
  background-color: #FFFFFF;
}
#transtext3 p{
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
}
#transicon4{
  height: 100px;
  width:30%;
  text-align: center;
  padding-top: 30px;
  color: #898989;
  background: linear-gradient(to bottom right,#00f2fe 0%, #1e63c3 100%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#transtext4{
  height: 100px;
  width: 70%;
  padding-top: 10px;
  padding-left: 20px;
  color: #898989;
  border-radius: 10px;
  text-align: left;
  background-color: #FFFFFF;
}
#transtext4 p{
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0rem;
}


@media screen and (min-width:1280px){
  #emptytableimg{
   padding-left: 250px;
   padding-right: 250px; 
  }
}
@media screen and (min-width:1080px) and (max-width:1280px){
    #emptytableimg{
     padding-left: 200px;
     padding-right: 200px; 
    }
  }
  @media screen and (min-width:720px) and (max-width:1080px){
    #emptytableimg{
     padding-left: 100px;
     padding-right: 100px; 
    }
  }
  @media screen and (min-width:420px) and (max-width:720px){
    #emptytableimg{
     padding-left: 100px;
     padding-right: 100px; 
    }
  }
