#questionheader{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0rem;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;;
    /* border-radius: 7px; */
    position: relative;
    min-height: 150px;
    background-image: linear-gradient(to left,#9853af,#623AA2);
    /* backgroundImage: linear-gradient(to right top, #633ba3, #7140a6, #7e46a9, #8b4cac, #9753af); */
    padding-top: 5px;
    border-top: 1.5px solid #9853af;
    color: white;
}
#previous{
    margin-left: 20px;
    
}
#previous span{
    color: #FFFFFF;
    cursor: pointer;
}
#next{
    margin-right: 20px;
    width: auto;
}
#next span{
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
   
}
#questions{
    height: auto;
    position: relative;
    top: -80px;
   /* padding: 20px; */
    margin: 5%;
    margin-top: 30px;
    border-radius: 10px;
    /* background-color: #ffffff; */
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
}
#questions:hover{

}
#questionprogressbar{
    position: relative;
    height: 110px;
    width: 100%;
    background: linear-gradient(to bottom right, #62fb62, #21a544);
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    padding-top:  2.00rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(7, 6, 6, 0.23);
}
#questionprogressbar span {
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
}
#startquestion{
    position: relative;
   background-color: #FFFFFF;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(7, 6, 6, 0.23);
    height: auto;   
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#questxt{
       padding-left: 20px;
       padding-top: 10px;
       font-size: 1.20rem;
        color: #898989;
}
#quesfield{
  
    padding: 15px;
    color: #898989;
    
}
#quesfield #inputselect{
    border-color: hsl(0,0%,80%);
    color: #898989;
    padding: 2px 8px;
    width: 100%;
    height: 38px;
    border-radius: 4px;
}
/* select:focus{
    width: 100%;
    outline: none;
    border-width:2.5px;
     border-radius: 4px;
    border-color: blue;
} */
#quesfield select:focus{
    width: 100%;
    border-radius: 4px;
    outline: none;
    border-width:3px;
    border-color: blue;
}

.totalQuestionsProgressbar{
    width: 60px;
    stroke: #ffff;
    font-size: .8rem;
    margin-right: 30px;
   
  }
   
  .totalQuestionsProgressbar .CircularProgressbar-path {
     stroke: #2B9146; 
  }