

.profileDashboardProgressbar{
  width: 110px;
  stroke: #fff;
  font-size: .8rem;
  margin-left: 5px;
}
 
.profileDashboardProgressbar .CircularProgressbar-path {
   stroke: #9853af; 
}

.catBox{
  cursor: pointer;
  background-color: Transparent;
  border: none;
  color: #fff;
  font-size: 20px;
}
#profiledashboard{
  height: auto;
  position: relative;
  top: -80px;
  margin: 30px;
}
.firstlayer{
  position: relative;
 color: white;
 display: flex;
 margin-bottom: 30px;
}
/* .firstlayer:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */
.secondlayer{
  position: relative;
  color: white;
  display: flex;
  margin-bottom: 30px;
}
.thirdlayer{
  position: relative;
  color: white;
  display: flex;
  margin-bottom: 30px;

}
#firstbutton{
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
  border-radius: 10px;
  padding-top: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/Online-Surveys.jpg') no-repeat;
   */
   position: relative;
   border-radius: 10px;
  padding-top: 50px;
   width: 30%;
   overflow: hidden;
   background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/Online-Surveys.jpg') no-repeat;
   background-size: cover;
   background-position: center;
  text-align: center;

}
#firstbutton:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#secondbutton{
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
  border-radius: 10px;
  padding-top: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/hous.jpg') no-repeat; */
  position: relative;
  border-radius: 10px;
  padding-top: 50px;
  width: 30%;
  overflow: hidden;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/hous.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#secondbutton:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#thirdbutton{
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
  border-radius: 10px;
  padding-top: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/shopping.jpg') no-repeat; */
  position: relative;
  border-radius: 10px;
  padding-top: 50px;
  width: 30%;
  overflow: hidden;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/shopping.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#thirdbutton:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#fourthbutton{
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
  border-radius: 10px;
  padding-top: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/employee.jpg') no-repeat; */
  position: relative;
  border-radius: 10px;
  padding-top: 50px;
  width: 30%;
  overflow: hidden;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/employee.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#fifthbutton{
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
  border-radius: 10px;
  padding-top: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/banking.jpg') no-repeat; */
  position: relative;
  border-radius: 10px;
  padding-top: 50px;
  width: 30%;
  overflow: hidden;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/banking.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#sixthbutton{
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
  border-radius: 10px;
  padding-top: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/organization.jpg') no-repeat; */
  position: relative;
  border-radius: 10px;
  padding-top: 50px;
  width: 30%;
  overflow: hidden;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/organization.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#seventhbutton{
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
  border-radius: 10px;
  padding-top: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/Education.jpg') no-repeat; */
  position: relative;
  border-radius: 10px;
  padding-top: 50px;
  width: 30%;
  overflow: hidden;
  background: linear-gradient(rgba(112, 64, 165,0.7),rgba(112, 64, 165,0.7)),url('../../images/Education.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

}
.firstlayercommon{
  height: 300px;
  width:30%;
  
  color: white;
  margin-left: 30px;
}
.firstlayercommon:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#progresbar{
  height: 100px;
  width: 100px;
}




/* @media screen and (min-width:720px) and (max-width:980px){
  .firstlayercommon{
    height: 250px;
    width: 25%;
  }
  .firstlayercommon h1{
    font-size: 20px;
  }
  .firstlayer{
    margin-bottom: 20px;
  }
  .secondlayer{
    margin-bottom: 20px;
  }
  
  } */

@media screen and (max-width:980px){
  .firstlayercommon{
    margin-bottom: 20px;
  }
    .firstlayer{
      flex-wrap: wrap;
      margin-bottom: 0px;
      }
    .secondlayer{
      flex-wrap: wrap;
      margin-bottom: 0px;

    }
    .thirdlayer{
      flex-wrap: wrap;
      margin-bottom: 0px;

    }
    #firstbutton{
      width: 100%;
      margin-right: 30px;
    }
    #secondbutton{
      width: 100%;
      margin-right: 30px;
    }
    #thirdbutton{
      width: 100%;
      margin-right: 30px;
    }
    #fourthbutton{
      width: 100%;
      margin-right: 30px;
    }
    #fifthbutton{
      width: 100%;
      margin-right: 30px;
    }
    #sixthbutton{
      width: 100%;
      margin-right: 30px;
    }
    #seventhbutton{
      width: 100%;
      margin-right: 30px;
    }
    .firstlayercommon{
      height: 350px;
      width: 25%;
    }
  }



