#leftcol{
    height: 100%;
    width:40px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(152, 160, 49, 0.774);
    overflow: hidden;
    transition: 0.6s;
   z-index: 5;
    background-color: #FFFFFF;
    margin-top: 63px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
li{
    list-style: none;
}
#leftcolcontent{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: none;
}
#closeslider{
    text-align: right;
    font-weight: bold;
    font-size: 71px;
    margin-left: 70%;
    
}
#openslider{
    text-align: center;
    display: none;
}
#imagepro{
    text-align: center;
    display: none;
}

.iconspro:hover{
/* background-color: blue; */
}
#menuitems{
/* display: none; */
}
#rightcol{
    margin-left:3%;
    transition: 0.6s;
    background-color: #F2F2F2;
}
.iconcss{
    border-top: 1px solid #dddbdb;
    padding: 10px;
}
.iconcss:hover{
/* background-color: #884CAB; */
color: white;
cursor: pointer;
}
.leftmenuscss{
    height: 50px;
  color: #898989;
    border-bottom: 0.2px solid #898989 !important;
    padding: 10px;
}

#userimage{
        background-color: #898989;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin-left: 40%;
 	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    overflow: hidden;
    border: 1px solid gray;
}
#userimage img{

    width:100%;
    height:auto;
    object-fit: cover;
}



/* new css of left menu */
.commonmenus{
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    top: -10px;
    /* margin: 10px; */
    padding: 10px;
    /* background-color: rgb(47, 17, 87); */
    border-bottom: 0.3px solid #dbdada;
    cursor: pointer;
}
#iconmenu{
    position: relative;
    width: 80%;
    /* background-color: brown; */
}
#iconmenu span{
        padding-left: 10px;
        font-size: 14px;
}
#rightarrow{
    position: relative;
    width: 20%;
    text-align: right;
    /* background-color: rgb(134, 200, 28); */

}
#dahsboardmenu{
    /* background-color: transparent; */
}