#footercontainer{
    position: relative;
    width: 100%;
    height:auto;
}
#footerheader{
    width: 100%;
    height: 70px;
    background-color: #353a90;
    display: flex;
    justify-content: space-between;
}
#footericons img{
    margin-top: 10px;
}
#footericons a{
    text-decoration: none;
}
#footerlogo{
    margin: 10px;
}
#footericons{
    margin: 20px;
    display: flex;
    cursor: pointer;
}
#abouticons img:hover{
    color: yellow;
}
#aboutbtn{
    cursor: pointer;
    border-radius: 45px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
}
#abouttitle{
    height: 400px;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 130px;
    color: #FFFFFF;
    background-color: #0a0f72;
    border-top: 1px solid gray;
}
#abouttitle p{
    font-size: 1.5rem;
    font-weight: 400;
}
#aboutdetails{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: -10px;
    background: #f9f9f9;
}
#aboutcontent{
    position: relative;
    width: 55%;
    height: 600px;
    padding-top: 80px;
    text-align: center;
    /* background-color: burlywood; */
}
/* #saperator em{
    display: block;
    width: 40px;
    height: 4px;
    background-color: #555;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 30px;
} */
#contents{
    position: relative;
    text-align: left;
    margin-left: 20%;
    margin-right: 10%;
}
#contents #p1{
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: "Work Sans",Arial,sans-serif;
    color: #555;
    text-align: justify;
}
#aboutss{
    position: relative;
    width: 45%;
    height: 600px;
    padding-top: 80px;
    /* background-color: darkolivegreen; */
}
@media screen and (max-width:1024px){
    #contents{
        margin-bottom: 50px;
    }
    #aboutdetails{
        display: block;
       
    }
    #aboutcontent{
        width: 100%;
    }
     #aboutss{
         width: 100%;
         margin-left: 20%;
         margin-top: -20%;
     }
    }
    