#privacytitle{
    height: 400px;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 130px;
    color: #FFFFFF;
    background-color: #0a0f72;
    border-top: 1px solid gray;
}
#privacytitle p{
    font-size: 1.5rem;
    font-weight: 400;
}
#privacybtn{
    cursor: pointer;
    border-radius: 45px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
}
#privacycontent{
    height: auto;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 50px;
    color: #FFFFFF;
    margin-bottom: -10px;
    background: #f9f9f9;
    padding-bottom: 30px;
}
#privacycontent h1{
        color: black;
}
#privacycontent h4{
    text-align: justify;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}
#privacycontent em{
    display: block;
    width: 40px;
    height: 4px;
    background-color: #555;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
#privacycontent p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: "Work Sans",Arial,sans-serif;
    color: #555;
}
#privacycontent ul{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: "Work Sans",Arial,sans-serif;
    color: #555;

}


#termstitile{
    height: 400px;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 130px;
    color: #FFFFFF;
    background-color: #0a0f72;
    border-top: 1px solid gray;
}
#termstitile P{
    font-size: 1.5rem;
    font-weight: 400;
}

#termscontent{
    height: auto;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 50px;
    color: #FFFFFF;
    margin-bottom: -10px;
    background: #f9f9f9;
    padding-bottom: 30px;
}

#termscontent em{
    display: block;
    width: 40px;
    height: 4px;
    background-color: #555;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    
    margin-bottom: 15px;
}
#termscontent h1{
    color: black;
}
#termscontent p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: "Work Sans",Arial,sans-serif;
    color: #555;
    padding-bottom: 30px;
}
#termscontent h4{
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}
#termscontent ol{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: "Work Sans",Arial,sans-serif;
    color: #555;
}
#termscontent ol h3{ 
    color: black;
    font-size: 1.5rem;
  
}







#epointstitle{
    height: 400px;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 130px;
    color: #FFFFFF;
    background-color: #0a0f72;
    border-top: 1px solid gray;
}
#epointstitle p{
    font-size: 1.5rem;
    font-weight: 400;
}
#epointscontent{
    height: auto;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 50px;
    color: #FFFFFF;
    margin-bottom: -10px;
    background: #f9f9f9;
    padding-bottom: 30px;
}
#epointscontent em{
    display: block;
    width: 40px;
    height: 4px;
    background-color: #555;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    
    margin-bottom: 15px;
}
#epointscontent h1{
    color: black;
}
#epointscontent h2{
    color: black;
}
#epointscontent h4{
    color: black;
    margin-left: 10%;
    text-align: left;
}
#epointscontent p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: "Work Sans",Arial,sans-serif;
    color: #555;
    padding-bottom: 30px;
}       



/* .aboutPage{
    min-height: 950PX;
    margin-bottom: 0px;
    background-color: white;
    background-image:  url(backAbout.jpg) !important;
}
.trmAndCondPage{
    min-height: 1300PX;
    margin-bottom: 0px;
    background-color: white;
    background-image:  url(backT&C.jpg) !important;
    background-repeat: no-repeat;
    background-size: auto;
}

.policyPage{
    min-height: 1500PX;
    margin-bottom: 0px;
    background-color: white;
    background-image:  url(backPrivacy.jpg) !important;
    background-repeat: repeat;
    background-size: auto;
}

.aboutEpointsPage{
    min-height: 730PX;
    margin-bottom: 0px;
    background-color: white;
    background-image:  url(backT&C.jpg) !important;
    background-repeat: no-repeat;
    background-size: auto;
}

.aboutHeading1 {
    margin-bottom: 10px;
    line-height: 0;
    margin-top: 30px;
}

.homepagecontent{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.imgalignment{
    float: left;  
    overflow: hidden; 
    width: 50%; 
    height: 400px;
    line-height: 400px;
    padding-top: 80px; 
}

.abpage{ color:white;   
    padding-top:10px; 
    float: left;
    overflow: hidden; 
    width: 85%; 
    height: auto;
    text-align: left; 
    padding-left: 10%;
}
h2{
    color: white;
} 

.abpage .para1 {
    line-height: 1.4;
    text-align: left;
    color:white;   
}

.aboutEpointsp{
    color:white;   
    padding-top:10px; 
    float: left;
    overflow: hidden; 
    width: 80%; 
    height: auto;
    text-align: left; 
    padding-left: 25%;
}

.aboutEpointsp .para1 {
    line-height: 1.4;
    text-align: left;
    color:white;   
}

.abhoutHeading {
    padding-left: 37%;    
    padding-top: 40px;
    text-align: center !important;
    overflow: hidden;
}

.abhoutHeading h2{ 
    width: 130px;
    border-bottom: 2px solid white; 
    text-align: center;
    margin-left : 13%
}

.tAndCHeading{
    padding-left: 30%;    
    padding-top: 40px;
    text-align: center !important;
    overflow: hidden;
}
.tAndCHeading h2{
    width: 300px;
    border-bottom: 2px solid white; 
    text-align: center;
    margin-left : 13%
}

.privacyPolicy{
    padding-left: 30%;    
    padding-top: 40px;
    text-align: center !important;
    overflow: hidden;
}

.privacyPolicy h2{
    width: 200px;
    border-bottom: 2px solid white; 
    text-align: center;
    margin-left : 15%;
}

.aboutEpoints{
    padding-left: 30%;    
    padding-top: 40px;
    text-align: center !important;
    overflow: hidden;
}

.aboutEpoints h2{
    width: 200px;
    border-bottom: 2px solid white; 
    text-align: center;
    margin-left : 20%;
}


.cashColumn {
    float: left;  
    height: 60px; 
  }
 



@media screen and (min-width:720px) and (max-width:999px){

    .abhoutHeading {
        padding-left: 23%;
       
        padding-top: 40px;
        text-align: center !important;
        overflow: hidden;
    }

    .tAndCHeading{
        padding-left: 23%;
        
        padding-top: 40px;
        text-align: center !important;
        overflow: hidden;
    }

    .policyPage{
        min-height: 2000PX;
        margin-bottom: 0px;
        background-color: white;
        background-image:  url(backPrivacy.jpg) !important;
        background-repeat: repeat;
        background-size: auto;
    }

    .privacyPolicy{
        padding-left: 23%;
       
        padding-top: 40px;
        text-align: center !important;
        overflow: hidden;
    }
    .aboutEpointsPage{
        min-height: 1100PX;
        background-repeat:repeat;
        background-size: auto;
    }
    .aboutEpoints{
        padding-left: 20%;    
        padding-top: 200px;
        text-align: center !important;
        overflow: hidden;
    }

    .cashRow{
        height: 160px !important;
    }
    .cashColumn {
        float: left;
        height: 60px;
        width: 60% !important;
    }
}

@media screen and (min-width:1000px) and (max-width:1280px){
    .abhoutHeading {
        padding-left: 30%;
       
        padding-top: 40px;
        text-align: center !important;
        overflow: hidden;
    }

    .tAndCHeading{
        padding-left: 23%;
      
        padding-top: 40px;
        text-align: center !important;
        overflow: hidden;
    }

    .policyPage{
        min-height: 2000PX;
        background-repeat: repeat;
    }

    .privacyPolicy{
        padding-left: 23%;
    
        padding-top: 40px;
        text-align: center !important;
        overflow: hidden;
    }

    .trmAndCondPage{
        min-height: 1550PX;
        background-repeat: repeat;
    }

    .aboutPage{
        min-height: 1200PX;
        background-repeat: repeat;
    }

    .aboutEpointsPage{
        min-height: 900PX;
        background-repeat:repeat;
        background-size: auto;
    }
    .aboutEpoints{
        padding-left: 20%;    
        padding-top: 100px;
        text-align: center !important;
        overflow: hidden;
    }

    .cashRow{
        height: 100px !important;
    }
    .cashColumn {
        float: left;
        height: 40px;
        width: 45% !important;
    }
} */