#rightcol{
  margin-left: 230px;
  background-color: #F2F2F2;
  min-height: 100vh;
  margin-top: 63px;
  margin-bottom: -10px;
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 10px;
}
#scrollbtn{
  display: none;
  position: fixed;
  z-index: 1090;
  background-color: #8d48b1;
  color: #F2F2F2;
  bottom: 50px;
  right: 50px;
  height: 50px;
  border: none;
  outline: none;
  width: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
 
}
#leftcol{
  width:230px;
}
#footerlogin{
  height: auto;
  width: auto;
  margin-left: 230px;
  display: flex;
  position: relative;
  background-color: #6B3FA5;
  bottom:-10px;
  transition: 0.6s;
  overflow: hidden;
}
#footerlogout{
  height: auto;
  width: auto;
  /* margin-left: 230px; */
  display: flex;
  position: relative;
  background-color: #6B3FA5;
  bottom:-10px;
  transition: 0.6s;
  overflow: hidden;
}
#footerlink a{
  text-decoration: none;
  color: #FFFFFF;
}
#footerlink a:hover{
  text-decoration: none;
  color: blue;
}
#footerlink{
  text-align: center;
  width: 50%;
  padding: 20px;
  color: #FFFFFF;

  
}
#scrollbtn:hover{
  background-color: #051d5f;
}
#copyright{
text-align: center;
width: 50%;
color: #FFFFFF;
padding: 20px;

}

/* 
.back {
margin:0px;
padding: 0px;
background-image :url("./BlueBackground.jpg");
margin-bottom: 0px !important;
overflow: hidden;
min-height: 900px;
}
header{      
display:none;
background-color: #fff;

}
.appimage{
 width: 30%;
  
}
.horizental{
  display: none;
overflow:hidden;
border: 2px solid #a1b4d8;
margin-top: 0px;
margin-bottom: 0px;
} */

/* .pageCol{
   width : 100%;
  margin-top: 0%;
  margin-left: 0%;

} */



/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (min-width: 360px) {

  .menuCol{
    width : 100%;
    text-align: left;
  }
 
  .pageCol{
    width : 100%;
    margin-top: 0%;
    margin-left: 0%;
  }
  .appimage{
    width: 50%;
     
   }

   header{
     display: none;
padding-top: 6px;
    text-align: center;
   }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .menuCol{
    width : 100%;
    text-align: left;
  }
 
  .pageCol{
    width : 100%;
    margin-top: 0%;
    margin-left: 0%;
  }
  .appimage{
    width: 60%;
     
   }

   header{
     display: none;
padding-top: 6px;
    text-align: center;
   }
}
@media screen and (min-width: 721px) and (max-width: 1280px) {

  .menuCol{
    width : 100%;
    text-align: left;
  }
 
  .pageCol{
    width : 100%;
    margin-top: 0%;
    margin-left: 0%;
  }
  .appimage{
    width: 40%;
     
   }

   header{
     display: none;
padding-top: 6px;
    
   }


} */