.profilestudyCompleteText{
text-align: center;
padding: 18px;

color: #898989;
}

.studyCountProfileTitle{
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 500;
}  

.profileCompleteProgressbar{
  width: 120px;
  stroke: rgb(58, 57, 57);
  font-size: .8rem;
  margin-left: 5px;
}
 
.profileCompleteProgressbar .CircularProgressbar-path {
   stroke: #9853af; 
}

.totalStudyProgressbar{
  width: 70px;
  stroke: #fff;
  font-size: .8rem;
  margin-left: 5px;
}
 
.totalStudyProgressbar .CircularProgressbar-path {
   stroke: #9853af; 
}

.startStudyProgressbar{
  width: 70px;
  stroke: #fff;
  font-size: .8rem;
  margin-left: 5px;
}

.startStudyProgressbar .CircularProgressbar-path {
  stroke: #21a544; 
}

.completeStudyProgressbar{
  width: 70px;
  stroke: #fff;
  font-size: .8rem;
  margin-left: 5px;
}

.completeStudyProgressbar .CircularProgressbar-path {
  stroke: #f66b4e ; 
}

.totalRewardProgressbar{
  width: 70px;
  stroke: #fff;
  font-size: .8rem;
  margin-left: 5px;
}

.totalRewardProgressbar .CircularProgressbar-path {
  stroke: #1e63c3; 
}

#studycoutmain{
  height: 200px;
  background-image: linear-gradient(to left,#9853af,#623AA2);
  /* padding-left: 30px; */
  padding: 20px;
  color: white;
}

#headerstudy{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0rem;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  /* border-radius: 7px; */
  position: relative;
  min-height: 150px;
  background-image: linear-gradient(to left,#9853af,#623AA2);
  /* backgroundImage: linear-gradient(to right top, #633ba3, #7140a6, #7e46a9, #8b4cac, #9753af); */
  padding-top: 5px;
  border-top: 1.5px solid #9853af;
  color: white;
  
}
#breadcrumb{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  border-radius: 3px;
  position: relative;
  right: 0;
  top: -5px;
  padding-right: 0;
  color: #fff;
}

#menuname{
  /* position: absolute; */
  /* left: 80px; */
}
#menubreadcrumb{
  /* position: absolute; */
  right: 30px;
}
#studycards{
  height: auto;
  display: flex;
  position: relative;
  top: -80px;
  margin: 30px;
}
#firstlayercards{
    display: flex;
    position: relative;
    width: 50%;
  /* background-color: gray; */
 
  text-align: center;
 
}
#secondlayercards{
  position: relative;
  display: flex;
  width: 50%;
  /* background-color: gray; */

}
#firstlayercard1{
  height: 120px;
  position: relative;
  width: 50%;
  background: linear-gradient(to bottom right ,#9853af,#623AA2);
  margin: 10px;
  border-radius:10px;
  color: #FFFFFF;
  padding: 30px 30px 30px 70px;
  box-shadow: 0 7px 30px rgba(248, 147, 67, 0.50);
}
#firstlayercard2{ 
  height: 120px;
  position: relative;
  width: 50%;
  background: linear-gradient(to bottom right, #62fb62, #21a544);
  margin: 10px;
  border-radius:10px;
  color: #FFFFFF;
  padding: 30px 30px 30px 70px;
  box-shadow: 0 7px 30px rgba(248, 147, 67, 0.50); 
}
#secondlayercard1{
  height: 120px;
  position: relative;
  width: 50%;
  background: linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%);
  margin: 10px;
  border-radius:10px;
  color: #FFFFFF;
  padding: 30px 30px 30px 70px;
  box-shadow: 0 7px 30px rgba(248, 147, 67, 0.50);
}
#secondlayercard2{
  height: 120px;
  position: relative;
  width: 50%;
  background: linear-gradient(to bottom right,#00f2fe 0%, #1e63c3 100%);
  margin: 10px;
  border-radius:10px;
  color: #FFFFFF;
  padding: 30px 30px 30px 70px;
  box-shadow: 0 7px 30px rgba(248, 147, 67, 0.50);
}
.studies{
  height: 120px;
  width: 40%;
  background-color: rgb(13, 31, 25);
  margin: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
.studieCountText{
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 100px;
  text-align: left;
}
#totalstudy{
  background-color: #7643A7;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#startedstudy{
  background-color: #33BC4C;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#completedstudy{
  background-color: #F88E44;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
#earnedstudy{
  background-color: #197BCD;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#profilestudy{
  height: auto;
  display: flex;
  position: relative;
  top: -80px;
  margin: 30px;
}

#reedmbtn{
  border-radius: 10px;
  background:linear-gradient(to bottom right, #0066cc 0%, #003366 100%);
  padding: 5px;
  margin-top: -30px;
  border: none;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}
#reedmbtn:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#profile{
  /* height: auto; */
  width: 30%;
  background-color: #FFFFFF;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#profile:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#studytable{
height: auto;
width: 70%;
background-color: #FFFFFF;
margin: 10px;
border-radius: 10px;
overflow-x: auto;
box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#studytable:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#profile h3{
  padding: 18px;
  font-size: 1.125rem;
  color: #898989;
  background-color: #FFFFFF;
}
.profilestudyhr{
  margin-top: 0rem !important;
}


#studytable h3{
  padding: 18px;
  font-size: 1.125rem;
  color: #898989;
  background-color: #FFFFFF;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  padding-left: 20px;
  
}

#customers td, #customers th {
 border-bottom: 1px solid rgb(207, 203, 203);
 border-top: 1px solid rgb(207, 203, 203);
  padding: 8px;
  
}
#customers td{
  color: #898989;
}



#customers tr:nth-child(odd){background-color: #F6F6F6;}

/* #customers tr:hover {background-color: #ddd;} */

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

  background-color: #FFFFFF;
  /* color: white; */
}
#transaction{
  height: auto;
  display: flex;
  position: relative;
  top: -80px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(7, 6, 6, 0.23);
}
#transactiontable{
  height: auto;
  width: 100%;
  background-color: #FFFFFF;
   overflow: hidden;
  border-radius: 10px;
  
}
#transactiontable h3{
  padding: 18px;
  font-size: 1.125rem;
  color: #898989;
  background-color: #FFFFFF;
}
#transaction:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#pending{
  color: #FFFFFF;
  border: none;
  outline: none;
border-radius: 3px;
padding-left: 5px;
 width:200px;
 height: 30px;
 background: linear-gradient(to bottom right, #a67939 0%, #845108 100%);
}
#pending span{
  margin-left: 10px;
 margin-right: 5px;
  font-size: 15px;
}
#complete{
  color: #FFFFFF;
  border: none;
  outline: none;
border-radius: 3px;
padding-left: 5px;
width:200px;
height: 30px;
  background:linear-gradient(to bottom right, #4ba614 0%, #008c00 100%);
}
#complete span{
  margin-left: 10px;
 margin-right: 5px;
  font-size: 15px;
}
#verifying{
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 3px;
  padding-left: 5px;
  background: linear-gradient(to bottom right,#9853af,#623AA2)
}
#verifying span{
  margin-left: 10px;
 margin-right: 5px;
  font-size: 15px;
}
#approved{
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 5px;
    background: linear-gradient(to bottom right,#9853af,#623AA2);
    width:200px;
    height: 30px;
}
#approved span{
  margin-left: 10px;
  margin-right: 5px;
   font-size: 15px;
}
#coupon{
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 3px;
  padding-left: 5px;
  width:200px;
  height: 30px;
  cursor: pointer;
  background:linear-gradient(to bottom right, #A9DB80 0%, #2828B5 100%);
}
#coupon span{
  margin-left: 10px;
  margin-right: 5px;
   font-size: 15px;
}
#processing{
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 3px;
  padding-left: 5px;
  width:200px;
  height: 30px;
  background: linear-gradient(to bottom right,#a9a588,#8e865b);
}
#processing span{
  margin-left: 10px;
  margin-right: 5px;
   font-size: 15px;
}
#reject{
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 3px;
  padding-left: 5px;
  width:200px;
  height: 30px;
  background: linear-gradient(to bottom right,#f62b2b,#d20202);
}
#reject span {
  margin-left: 10px;
  margin-right: 5px;
   font-size: 15px;
}
#failure{
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 3px;
  padding-left: 5px;
  width:200px;
  height: 30px;
  background: linear-gradient(to bottom right,#606c88,#3f4c6b);
}
#failure span {
  margin-left: 10px;
  margin-right: 5px;
   font-size: 15px;
}
#participatebtn{
  border-radius: 3px;
  background: linear-gradient(to bottom right, #62fb62, #21a544);
  color: #FFFFFF;
  cursor: pointer;
  width: 180px;
}
#participatebtn span{
  margin-left: 10px;
  margin-right: 5px;
  font-size: 12px;
 
}
#participatebtns{
  border-radius: 3px;
  background: linear-gradient(to bottom right, #62fb62, #21a544);
  color: #FFFFFF;
  width: 180px;
}
#participatebtns span{
  margin-left: 10px;
  margin-right: 5px;
  font-size: 12px;
}

@media screen and (max-width:720px){
  #studycards{
    display: block;
   }
    #firstlayercards{
    flex-wrap: wrap;
    width: 100%;
    }
   #secondlayercards{
   flex-wrap: wrap;
   width: 100%;

    }
   #firstlayercard1{
  width: 100%;
  }
  #firstlayercard2{
    width: 100%;
  }

  #secondlayercard1{
    width: 100%;
  }
  #secondlayercard2{
    width: 100%;
  }
  #profilestudy{
    flex-wrap: wrap;
  }
  #profile{
    width: 100%;
  }
  #studytable{
    width: 100%;
  }

 }
 @media screen and (min-width:720px) and (max-width:1180px){
  #studycards{
    flex-wrap: wrap !important;
   }
    #firstlayercards{
      width: 100%;
    
    }
   #secondlayercards{
    width: 100%;
    }
    #profilestudy{
      flex-wrap: wrap;
    }
    #profile{
      width: 100%;
    }
    #studytable{
      width: 100%;
    }
  }
 




/* 
  #firstlayercards{
    flex-wrap: wrap;
  }
 
   #firstlayercard1{
     width: 100%;
   }
   #firstlayercard2{
     width: 100%;
   } */






/* 
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
} */


/* Media query */
/* @media screen and (max-width:1280px){
  #studycards{
    flex-wrap: wrap;
    display: flex;
  }   
  .studies{
    width: 600px;
  }
   }
@media screen and (max-width:1230px){
 #studycards{
   flex-wrap: wrap;
    display: flex;
 }   
 .studies{
   width: 500px;
 }
  } */



/* .studcountmain{
  width: 100%;
  min-height: 100vh;
  display: flex;
 position: relative;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 64px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
 
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  text-decoration: none;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#dashboard{
  margin-top: 63px;
  transition: margin-left .5s;
  padding: 16px;
}





@media screen and (max-width:992px){
 
   
  }



/* 
.app{
  background-color: #e4e5e6;
  display: block;
  min-height: 100vh;

}

.reward{
    display: inline;
}
#fcard:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
 color:darkblue;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



/* @media screen and (min-width:250px) and (max-width:360px){
  h1{
    font-size: 1.2rem  !important;
   
  }
  p{
    font-size: 10px !important;
  }
  .card-group{
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  
} */

/* 
@media screen and (min-width:360px) and (max-width:480px){
  
  .card{
    margin-left: 0% !important;
  }
}
@media screen and (min-width:481px) and (max-width:720px){
  .card-group {
    margin-left: 5% !important;
    padding-bottom: 2% !important;
    }
  .card{
    margin-left: 0% !important;
  }
}
@media screen and (min-width:721px) and (max-width:900px){
  .card-group {
  
    padding-left: 25% !important;
    padding-right: 25% !important;
  }
  .card{
    margin-left: 0% !important;
  }
}
@media screen and (min-width:901px) and (max-width:1080px){
  .card-group {
    padding-left: 25% !important;
    padding-right: 25% !important;
  }
  .card{
    margin-left: 0% !important;
  }
}  */







/* .collect{
  text-decoration: none;
  
}
.countback {
  text-align: center;
  background-color: white;
  width: 80%;
  margin-top: 0px;
  padding: 0px 0px 50px 0px;
  border-radius: 0px 0px 12px 12px;
  margin-left: 10%;
}
.headercount {
  
  background-image: url(/static/media/img.d76cb6dd.jpg);
  
  text-align: center;
  color: white;
  line-height: 2.5;
  
  font-size: 13px;
  
}
.countTable{
  border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   border: 1px solid #ddd;
}

.countTable th, td{
  text-align: center;
    padding: 16px;
    font-size:12px; 
}
.countTable th:first-child, td:first-child {
    text-align: left;
}

.countTable tr:nth-child(even) {
    background-color: #f2f2f2
}
.tablecount{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 71px;
}


  .countForm {
    margin-top: -17px;
    padding-bottom: 100px;

}
@media screen and (min-width:360px) and (max-width:480px){
  .tablecount{
    margin-left: 12px;
    margin-right: 12px;
    
    margin-top: 71pxs;
    
    }
    .headercount {
  
      background-image: url(/static/media/img.d76cb6dd.jpg);
      
      text-align: center;
      color: white;
      line-height: 2.5;
      
      font-size: 13px;
      
    }

}  */ 
